@charset "UTF-8";

body{
    font-family: 'Shippori Mincho', serif;
}
html {
    font-size: 100%;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
ul{
    list-style-type: none;
}

/* ヘッダー */
.header{
    border-bottom: 17px solid #d4ccbd;
}
.main-logo{
    height: 55px;
}
.main-nav{
    display: flex;
    font-size: 14px;
    margin-top: 38px;
    font-weight: bold;
    letter-spacing: 1px;

}
.main-nav li {
    margin-left: 14px;
}
.main-nav a {
    color:#231815 ;
}
.main-nav a:hover{
    color:#916659 ;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
}
.page-header{
    display: flex;
    justify-content: space-between;
}

/* フッター */
footer{
    background-color: #d4ccbd;
    padding: 25px;
}
.page-footer{
    display: flex;
    justify-content: space-between;  
}
.footer-logo{
    height: 52px;
    margin: 10px;
}
.footer-nav{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}
.footer-nav a{
    color: #4c4948;
    font-size: 14px;
}
.footer-nav a:hover{
    color: #ffffff; 
}
.footer-nav p{
    line-height: 45px;
}
.hidden-bar{
    display: none;
}
.copy-right{
    color: #231815;
    font-size: 12px;
    display: flex;
    justify-content: center;
}
.sns-logo{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.sns-logo a{
    margin: 21px;
}

/* top画像部分 */
.bg-img{
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 35px;
}
.page-title{
    color: #ffffff;
    font-family: 'Shippori Mincho', serif;
    padding: 100px;
    text-align: center;
    letter-spacing: 6px;
    font-size: 1.75rem;
}
/* サブタイトル */
.sub-title{
    font-size: 1.6rem;
}
.sub-title{
    font-family: 'Shippori Mincho', serif;
}
.title-line{
    border-bottom: 4px solid #d4ccbd;
}
/* shoplistコンテンツ部分 */ .sub-title{
    font-size: 1.6rem;
    line-height: 5px; }

.event-contents{
    margin-top: 50px;
}
/* ここまでが共通 */
/* イベントページ ------------------------------------- */
#event{
    background-image: url(../images/eventtop.jpg);
}
.even-bnr{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 10px;
}
.even-ttl{
    font-size: 1.9rem;
    letter-spacing: 2px;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-align: center;
    margin: 0;

}
.even-day{
    font-size: 1.3rem;
    font-weight:bold;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 20px;
}
.even-desc{
    font-size: 1.2rem;
    margin: auto;
    width: 80%;
}
.even-icon{
    padding-top: 20px;
    margin: auto;
    width: 80%;
}
.even-icon img{
    width: 70px;
    height: 70px;
    margin-right: 10px;
}
.even-line{
    border-bottom: 2px solid #d4ccbd;
}
.even-fin{
    color: red;
    font-weight: bold;
}
.even-hover2 {
    width: min(90vw, 640px);
    height: 320px;
    background-repeat: no-repeat;
    background-size: contain;
    /* ここでふんわり加減を調整してください */
    transition: .6s;
}
.even-img .even-hover2 {
    background-image: url(../images/banner_fooddd.png) !important;
    margin: 0 auto;
}
.even-img .even-hover2:hover {
    background-image: url(../images/banner_food_on.jpg) !important;
}
  /* ここからボタン ---------------*/
.btn {
    color: #333;
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    /* margin: 0 auto; */
    margin-left: auto;
    margin-top: 2rem;
    padding-right: 20px;
    width: 190px;
    height: 35px;
    text-align: center;
    line-height: 30px;
    border: 2px solid #333;
    position: relative;
    z-index: 1;
    display: block;
    overflow: hidden;
    transition: .3s;
}
.btn::before {
    content: "";
    width: 120%;
    height: 200%;
    position: absolute;
    top: -50%;
    right: 0;
    z-index: -1;
    background: #333;
    border-radius: 0 100% 100% 0;
    transform: translateX(-100%);
    transition: transform ease .3s;
}
.btn:hover {
    color: #fff;
}
.btn:hover::before {
    transform: translateX(10%);
}
.arrow:before,
.arrow:after{
	content:"";
	display:block;
	-webkit-transform:skewX(45deg);
	transform:skewX(45deg);
	position:absolute;
	right:15px;
	bottom:11px;
}
.arrow:before{
	width:12px;
    height:2px;
	background:#333;
}
.arrow:after{
	width:3.2px;
    height:8px;
	background:#333;
}

.btn-right{
    text-align: right;
    margin-bottom: 50px;
}
/* ここまでボタン --------------------------------*/

/* ここからタイトル線 */
.ttl {
    display: flex;
    align-items: center; /* 垂直中心 */
    justify-content: center; /* 水平中心 */
    margin-bottom: -20px;
}
.ttl:before, .ttl:after {
    border-top: 1px solid;
    content: "";
    width: 1em; /* 線の長さ */
}
.ttl:before {
    margin-right: 0.5em; /* 文字の右隣 */
}
.ttl:after {
    margin-left: 0.5em; /* 文字の左隣 */
}
/* ここまでタイトル線 */
/* レスポンシブ スマートフォン*/
@media (max-width: 599px){
    h1 {
        margin: 8px 0;
    }    
    .ttl{
        white-space: nowrap;
        font-size: 6vw;
    }
    .sub-title{
        white-space: nowrap;
    }
    .page-title{
        padding: 50px 0px;
    }
    .sub-ttl{
        white-space: nowrap;
        font-size: 5vw;
    }
    .bg-img{
        height: 200px;
    }
    .even-ttl{
        font-size: 1.2rem;
    }
    .even-day{
        font-size: 1rem;
    }
    .even-desc{
        font-size: 0.8rem;
        width: 100%;
    }
    .even-icon{
        width: 100%;
    }
    .btn{
        margin-top: -10px;
    }
    .even-icon img{
        width: 40px;
        height: 40px;
    }
    .main-logo{
        height: 35px;
    }
    .footer-nav{
        width: 100%;
    }
    /* ここからハンバーガーメニュー */
    .menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 40px;
      }
      
      .line-list {
        display: block;
        transition: all 0.4s;
        box-sizing: border-box;
        position: relative;
        width: 40px;
        height: 40px;
        margin-right: 0;
        margin-left: auto;
        z-index: 300;
        cursor: pointer;
      }
      
      /* ハンバーガーメニューの棒 */
      .line-list span {
        display: block;
        transition: all 0.4s;
        box-sizing: border-box;
        position: absolute;
        top: 95%;
        transform: translateY(50%);
        left: 50%;
        transform: translateX(-50%);
        width: 20px;
        height: 1px;
        background: #333;
      }
      .line-list span:nth-child(1) {
        margin-top: -6px;
      }
      .line-list span:nth-child(3) {
        margin-top: 6px;
      }
      
      /* ハンバーガーメニューが開くときに×にする */
      .line-list.active span:nth-child(1) {
        -webkit-transform: translateY(6px) rotate(-45deg);
        transform: translateY(0px) rotate(-45deg);
        left: 10px;
      }
      /* .line-list.active span:nth-child(2) {
        opacity: 0;
      } */
      .line-list.active span:nth-child(2) {
        -webkit-transform: translateY(-6px) rotate(45deg);
        transform: translateY(-6px) rotate(45deg);
        left: 10px;
      }
      
      /* メニューが開いたときの黒い半透明の背景 */
      .menu-bg {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        transition: all 0.6s;
        cursor: pointer;
      }
      
      /* メニューの中身 */
      .global-nav {
        position: fixed;
        right: -320px;
        top: 0;
        width: 300px;
        height: 100vh;
        padding-top: 130px;
        background: #fff;
        opacity: 0.8;
        transition: all 0.6s;
        z-index: 200;
        overflow-y: auto;
      }
      .link-list {
        display: block;
        margin: 0;
        padding: 0;
      }
      .link-list li {
        text-align: center;
        padding: 0 14px;
      }
      .link-list li a {
        display: block;
        padding: 20px 0;
        color: #333;
      }
      .link-list li:hover {
        background: #f8f8f8;
      }
      
      /* メニューが横から開く */
      .nav-open .global-nav {
        right: 0;
      }
      
      /* メニューが横から開いた時の背景 */
      .nav-open .menu-bg {
        opacity: 0.8;
        visibility: visible;
      }
    /* ここまでハンバーガーメニュー */
     /* footer */
     .page-footer {
        display: block;
        text-align: center;
    }
    .footer-nav{
        margin: 0 auto;
    }
    .footer-nav p{
        line-height: 20px;    
    }
    .hidden-bar{
        display: inline;
    }    
    .hidden-bar-res{
        display: none;
    }
}
@media (max-width: 1024px) and (min-width: 600px){
    h1 {
        margin: 8px 0;
    }
        .main-logo{
        height: 35px;
    }
    /* ここからハンバーガーメニュー */
    .menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 40px;
      }
      
      .line-list {
        display: block;
        transition: all 0.4s;
        box-sizing: border-box;
        position: relative;
        width: 40px;
        height: 40px;
        margin-right: 0;
        margin-left: auto;
        z-index: 300;
        cursor: pointer;
      }
      
      /* ハンバーガーメニューの棒 */
      .line-list span {
        display: block;
        transition: all 0.4s;
        box-sizing: border-box;
        position: absolute;
        top: 95%;
        transform: translateY(50%);
        left: 50%;
        transform: translateX(-50%);
        width: 20px;
        height: 1px;
        background: #333;
      }
      .line-list span:nth-child(1) {
        margin-top: -6px;
      }
      .line-list span:nth-child(3) {
        margin-top: 6px;
      }
      
      /* ハンバーガーメニューが開くときに×にする */
      .line-list.active span:nth-child(1) {
        -webkit-transform: translateY(6px) rotate(-45deg);
        transform: translateY(0px) rotate(-45deg);
        left: 10px;
      }
      /* .line-list.active span:nth-child(2) {
        opacity: 0;
      } */
      .line-list.active span:nth-child(2) {
        -webkit-transform: translateY(-6px) rotate(45deg);
        transform: translateY(-6px) rotate(45deg);
        left: 10px;
      }
      
      /* メニューが開いたときの黒い半透明の背景 */
      .menu-bg {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        transition: all 0.6s;
        cursor: pointer;
      }
      
      /* メニューの中身 */
      .global-nav {
        position: fixed;
        right: -320px;
        top: 0;
        width: 300px;
        height: 100vh;
        padding-top: 68px;
        background: #fff;
        opacity: 0.8;
        transition: all 0.6s;
        z-index: 200;
        overflow-y: auto;
      }
      .link-list {
        display: block;
        margin: 0;
        padding: 0;
      }
      .link-list li {
        text-align: center;
        padding: 0 14px;
      }
      .link-list li a {
        display: block;
        padding: 20px 0;
        color: #333;
      }
      .link-list li:hover {
        background: #f8f8f8;
      }
      
      /* メニューが横から開く */
      .nav-open .global-nav {
        right: 0;
      }
      
      /* メニューが横から開いた時の背景 */
      .nav-open .menu-bg {
        opacity: 0.8;
        visibility: visible;
      }
    /* ここまでハンバーガーメニュー */
    /* footer */
    .page-footer {
        display: block;
        text-align: center;
    }
    .footer-nav{
        margin: 0 auto;
    }
    .footer-nav p{
        line-height: 20px;    
    }
}
